<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsl.mapper.BslReportProdMakeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bsl.pojo.BslReportProdMakeInfo" >
    <result column="data_date" property="dataDate" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="CHAR" />
    <result column="prod_type" property="prodType" jdbcType="CHAR" />
    <result column="prod_jz" property="prodJz" jdbcType="CHAR" />
    <result column="prod_plan_no" property="prodPlanNo" jdbcType="VARCHAR" />
    <result column="prod_norm" property="prodNorm" jdbcType="VARCHAR" />
    <result column="prod_material" property="prodMaterial" jdbcType="CHAR" />
    <result column="prod_bs" property="prodBs" jdbcType="REAL" />
    <result column="prod_zs" property="prodZs" jdbcType="REAL" />
    <result column="prod_weight" property="prodWeight" jdbcType="REAL" />
    <result column="prod_use_norm" property="prodUseNorm" jdbcType="VARCHAR" />
    <result column="prod_use_num" property="prodUseNum" jdbcType="REAL" />
    <result column="prod_use_weight" property="prodUseWeight" jdbcType="REAL" />
    <result column="prod_dcl_weight" property="prodDclWeight" jdbcType="REAL" />
    <result column="prod_fl_weight" property="prodFlWeight" jdbcType="REAL" />
    <result column="prod_ccl" property="prodCcl" jdbcType="REAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_date, data_type, prod_type, prod_jz, prod_plan_no, prod_norm, prod_material, 
    prod_bs, prod_zs, prod_weight, prod_use_norm, prod_use_num, prod_use_weight, prod_dcl_weight, 
    prod_fl_weight, prod_ccl, remark, crt_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bsl.pojo.BslReportProdMakeInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bsl_report_prod_make_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bsl.pojo.BslReportProdMakeInfoExample" >
    delete from bsl_report_prod_make_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsl.pojo.BslReportProdMakeInfo" >
    insert into bsl_report_prod_make_info (data_date, data_type, prod_type, 
      prod_jz, prod_plan_no, prod_norm, 
      prod_material, prod_bs, prod_zs, 
      prod_weight, prod_use_norm, prod_use_num, 
      prod_use_weight, prod_dcl_weight, prod_fl_weight, 
      prod_ccl, remark, crt_date)
    values (#{dataDate,jdbcType=VARCHAR}, #{dataType,jdbcType=CHAR}, #{prodType,jdbcType=CHAR}, 
      #{prodJz,jdbcType=CHAR}, #{prodPlanNo,jdbcType=VARCHAR}, #{prodNorm,jdbcType=VARCHAR}, 
      #{prodMaterial,jdbcType=CHAR}, #{prodBs,jdbcType=REAL}, #{prodZs,jdbcType=REAL}, 
      #{prodWeight,jdbcType=REAL}, #{prodUseNorm,jdbcType=VARCHAR}, #{prodUseNum,jdbcType=REAL}, 
      #{prodUseWeight,jdbcType=REAL}, #{prodDclWeight,jdbcType=REAL}, #{prodFlWeight,jdbcType=REAL}, 
      #{prodCcl,jdbcType=REAL}, #{remark,jdbcType=VARCHAR}, #{crtDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.bsl.pojo.BslReportProdMakeInfo" >
    insert into bsl_report_prod_make_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataDate != null" >
        data_date,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="prodType != null" >
        prod_type,
      </if>
      <if test="prodJz != null" >
        prod_jz,
      </if>
      <if test="prodPlanNo != null" >
        prod_plan_no,
      </if>
      <if test="prodNorm != null" >
        prod_norm,
      </if>
      <if test="prodMaterial != null" >
        prod_material,
      </if>
      <if test="prodBs != null" >
        prod_bs,
      </if>
      <if test="prodZs != null" >
        prod_zs,
      </if>
      <if test="prodWeight != null" >
        prod_weight,
      </if>
      <if test="prodUseNorm != null" >
        prod_use_norm,
      </if>
      <if test="prodUseNum != null" >
        prod_use_num,
      </if>
      <if test="prodUseWeight != null" >
        prod_use_weight,
      </if>
      <if test="prodDclWeight != null" >
        prod_dcl_weight,
      </if>
      <if test="prodFlWeight != null" >
        prod_fl_weight,
      </if>
      <if test="prodCcl != null" >
        prod_ccl,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataDate != null" >
        #{dataDate,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=CHAR},
      </if>
      <if test="prodType != null" >
        #{prodType,jdbcType=CHAR},
      </if>
      <if test="prodJz != null" >
        #{prodJz,jdbcType=CHAR},
      </if>
      <if test="prodPlanNo != null" >
        #{prodPlanNo,jdbcType=VARCHAR},
      </if>
      <if test="prodNorm != null" >
        #{prodNorm,jdbcType=VARCHAR},
      </if>
      <if test="prodMaterial != null" >
        #{prodMaterial,jdbcType=CHAR},
      </if>
      <if test="prodBs != null" >
        #{prodBs,jdbcType=REAL},
      </if>
      <if test="prodZs != null" >
        #{prodZs,jdbcType=REAL},
      </if>
      <if test="prodWeight != null" >
        #{prodWeight,jdbcType=REAL},
      </if>
      <if test="prodUseNorm != null" >
        #{prodUseNorm,jdbcType=VARCHAR},
      </if>
      <if test="prodUseNum != null" >
        #{prodUseNum,jdbcType=REAL},
      </if>
      <if test="prodUseWeight != null" >
        #{prodUseWeight,jdbcType=REAL},
      </if>
      <if test="prodDclWeight != null" >
        #{prodDclWeight,jdbcType=REAL},
      </if>
      <if test="prodFlWeight != null" >
        #{prodFlWeight,jdbcType=REAL},
      </if>
      <if test="prodCcl != null" >
        #{prodCcl,jdbcType=REAL},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsl.pojo.BslReportProdMakeInfoExample" resultType="java.lang.Integer" >
    select count(*) from bsl_report_prod_make_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bsl_report_prod_make_info
    <set >
      <if test="record.dataDate != null" >
        data_date = #{record.dataDate,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=CHAR},
      </if>
      <if test="record.prodType != null" >
        prod_type = #{record.prodType,jdbcType=CHAR},
      </if>
      <if test="record.prodJz != null" >
        prod_jz = #{record.prodJz,jdbcType=CHAR},
      </if>
      <if test="record.prodPlanNo != null" >
        prod_plan_no = #{record.prodPlanNo,jdbcType=VARCHAR},
      </if>
      <if test="record.prodNorm != null" >
        prod_norm = #{record.prodNorm,jdbcType=VARCHAR},
      </if>
      <if test="record.prodMaterial != null" >
        prod_material = #{record.prodMaterial,jdbcType=CHAR},
      </if>
      <if test="record.prodBs != null" >
        prod_bs = #{record.prodBs,jdbcType=REAL},
      </if>
      <if test="record.prodZs != null" >
        prod_zs = #{record.prodZs,jdbcType=REAL},
      </if>
      <if test="record.prodWeight != null" >
        prod_weight = #{record.prodWeight,jdbcType=REAL},
      </if>
      <if test="record.prodUseNorm != null" >
        prod_use_norm = #{record.prodUseNorm,jdbcType=VARCHAR},
      </if>
      <if test="record.prodUseNum != null" >
        prod_use_num = #{record.prodUseNum,jdbcType=REAL},
      </if>
      <if test="record.prodUseWeight != null" >
        prod_use_weight = #{record.prodUseWeight,jdbcType=REAL},
      </if>
      <if test="record.prodDclWeight != null" >
        prod_dcl_weight = #{record.prodDclWeight,jdbcType=REAL},
      </if>
      <if test="record.prodFlWeight != null" >
        prod_fl_weight = #{record.prodFlWeight,jdbcType=REAL},
      </if>
      <if test="record.prodCcl != null" >
        prod_ccl = #{record.prodCcl,jdbcType=REAL},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bsl_report_prod_make_info
    set data_date = #{record.dataDate,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=CHAR},
      prod_type = #{record.prodType,jdbcType=CHAR},
      prod_jz = #{record.prodJz,jdbcType=CHAR},
      prod_plan_no = #{record.prodPlanNo,jdbcType=VARCHAR},
      prod_norm = #{record.prodNorm,jdbcType=VARCHAR},
      prod_material = #{record.prodMaterial,jdbcType=CHAR},
      prod_bs = #{record.prodBs,jdbcType=REAL},
      prod_zs = #{record.prodZs,jdbcType=REAL},
      prod_weight = #{record.prodWeight,jdbcType=REAL},
      prod_use_norm = #{record.prodUseNorm,jdbcType=VARCHAR},
      prod_use_num = #{record.prodUseNum,jdbcType=REAL},
      prod_use_weight = #{record.prodUseWeight,jdbcType=REAL},
      prod_dcl_weight = #{record.prodDclWeight,jdbcType=REAL},
      prod_fl_weight = #{record.prodFlWeight,jdbcType=REAL},
      prod_ccl = #{record.prodCcl,jdbcType=REAL},
      remark = #{record.remark,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>