<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsl.mapper.BslReportRawInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bsl.pojo.BslReportRawInfo" >
    <result column="data_date" property="dataDate" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="CHAR" />
    <result column="prod_norm" property="prodNorm" jdbcType="VARCHAR" />
    <result column="prod_material" property="prodMaterial" jdbcType="CHAR" />
    <result column="prod_num" property="prodNum" jdbcType="REAL" />
    <result column="prod_record_weight" property="prodRecordWeight" jdbcType="REAL" />
    <result column="prod_rel_weight" property="prodRelWeight" jdbcType="REAL" />
    <result column="prod_print_weight" property="prodPrintWeight" jdbcType="REAL" />
    <result column="prod_source" property="prodSource" jdbcType="CHAR" />
    <result column="prod_company" property="prodCompany" jdbcType="VARCHAR" />
    <result column="prod_customer" property="prodCustomer" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    data_date, data_type, prod_norm, prod_material, prod_num, prod_record_weight, prod_rel_weight, 
    prod_print_weight, prod_source, prod_company, prod_customer, remark, crt_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bsl.pojo.BslReportRawInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bsl_report_raw_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.bsl.pojo.BslReportRawInfoExample" >
    delete from bsl_report_raw_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bsl.pojo.BslReportRawInfo" >
    insert into bsl_report_raw_info (data_date, data_type, prod_norm, 
      prod_material, prod_num, prod_record_weight, 
      prod_rel_weight, prod_print_weight, prod_source, 
      prod_company, prod_customer, remark, 
      crt_date)
    values (#{dataDate,jdbcType=VARCHAR}, #{dataType,jdbcType=CHAR}, #{prodNorm,jdbcType=VARCHAR}, 
      #{prodMaterial,jdbcType=CHAR}, #{prodNum,jdbcType=REAL}, #{prodRecordWeight,jdbcType=REAL}, 
      #{prodRelWeight,jdbcType=REAL}, #{prodPrintWeight,jdbcType=REAL}, #{prodSource,jdbcType=CHAR}, 
      #{prodCompany,jdbcType=VARCHAR}, #{prodCustomer,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{crtDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.bsl.pojo.BslReportRawInfo" >
    insert into bsl_report_raw_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataDate != null" >
        data_date,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="prodNorm != null" >
        prod_norm,
      </if>
      <if test="prodMaterial != null" >
        prod_material,
      </if>
      <if test="prodNum != null" >
        prod_num,
      </if>
      <if test="prodRecordWeight != null" >
        prod_record_weight,
      </if>
      <if test="prodRelWeight != null" >
        prod_rel_weight,
      </if>
      <if test="prodPrintWeight != null" >
        prod_print_weight,
      </if>
      <if test="prodSource != null" >
        prod_source,
      </if>
      <if test="prodCompany != null" >
        prod_company,
      </if>
      <if test="prodCustomer != null" >
        prod_customer,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataDate != null" >
        #{dataDate,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=CHAR},
      </if>
      <if test="prodNorm != null" >
        #{prodNorm,jdbcType=VARCHAR},
      </if>
      <if test="prodMaterial != null" >
        #{prodMaterial,jdbcType=CHAR},
      </if>
      <if test="prodNum != null" >
        #{prodNum,jdbcType=REAL},
      </if>
      <if test="prodRecordWeight != null" >
        #{prodRecordWeight,jdbcType=REAL},
      </if>
      <if test="prodRelWeight != null" >
        #{prodRelWeight,jdbcType=REAL},
      </if>
      <if test="prodPrintWeight != null" >
        #{prodPrintWeight,jdbcType=REAL},
      </if>
      <if test="prodSource != null" >
        #{prodSource,jdbcType=CHAR},
      </if>
      <if test="prodCompany != null" >
        #{prodCompany,jdbcType=VARCHAR},
      </if>
      <if test="prodCustomer != null" >
        #{prodCustomer,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bsl.pojo.BslReportRawInfoExample" resultType="java.lang.Integer" >
    select count(*) from bsl_report_raw_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bsl_report_raw_info
    <set >
      <if test="record.dataDate != null" >
        data_date = #{record.dataDate,jdbcType=VARCHAR},
      </if>
      <if test="record.dataType != null" >
        data_type = #{record.dataType,jdbcType=CHAR},
      </if>
      <if test="record.prodNorm != null" >
        prod_norm = #{record.prodNorm,jdbcType=VARCHAR},
      </if>
      <if test="record.prodMaterial != null" >
        prod_material = #{record.prodMaterial,jdbcType=CHAR},
      </if>
      <if test="record.prodNum != null" >
        prod_num = #{record.prodNum,jdbcType=REAL},
      </if>
      <if test="record.prodRecordWeight != null" >
        prod_record_weight = #{record.prodRecordWeight,jdbcType=REAL},
      </if>
      <if test="record.prodRelWeight != null" >
        prod_rel_weight = #{record.prodRelWeight,jdbcType=REAL},
      </if>
      <if test="record.prodPrintWeight != null" >
        prod_print_weight = #{record.prodPrintWeight,jdbcType=REAL},
      </if>
      <if test="record.prodSource != null" >
        prod_source = #{record.prodSource,jdbcType=CHAR},
      </if>
      <if test="record.prodCompany != null" >
        prod_company = #{record.prodCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.prodCustomer != null" >
        prod_customer = #{record.prodCustomer,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bsl_report_raw_info
    set data_date = #{record.dataDate,jdbcType=VARCHAR},
      data_type = #{record.dataType,jdbcType=CHAR},
      prod_norm = #{record.prodNorm,jdbcType=VARCHAR},
      prod_material = #{record.prodMaterial,jdbcType=CHAR},
      prod_num = #{record.prodNum,jdbcType=REAL},
      prod_record_weight = #{record.prodRecordWeight,jdbcType=REAL},
      prod_rel_weight = #{record.prodRelWeight,jdbcType=REAL},
      prod_print_weight = #{record.prodPrintWeight,jdbcType=REAL},
      prod_source = #{record.prodSource,jdbcType=CHAR},
      prod_company = #{record.prodCompany,jdbcType=VARCHAR},
      prod_customer = #{record.prodCustomer,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>